<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        {{ product?.title }}
        <span class="price">{{ product?.price }}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="buy-btn" (click)="buy(product)" expand="full" shape="round">
          Buy
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
